@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-preset-1 {
    font-weight: 900;
    line-height: 110%;
  }

  .text-preset-2 {
    font-weight: 900;
    line-height: 110%;
  }

  .text-preset-3 {
    font-weight: 900;
    line-height: 110%;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
  }

  .text-preset-4 {
    font-weight: 500;
    line-height: 150%;
  }

  .text-preset-5 {
    font-weight: 900;
    line-height: 150%;
  }
}
