<div
  class="flex w-[31.5rem] flex-col items-center justify-center gap-4 text-center lg:w-[34rem]"
>
  <p class="text-preset-3 text-xs text-cyan-600 md:text-sm lg:text-base">
    Built for modern use
  </p>
  <h1
    class="text-preset-2 mb-4 max-w-[27.8125rem] text-[2rem] md:text-4xl xl:text-[2.5rem]"
  >
    Smarter meetings, all in one place
  </h1>
  <h2 class="text-preset-4 text-slate-600 xl:text-lg">
    Send messages, share files, show your screen, and record your meetings — all
    in one workspace. Control who can join with invite-only team access, data
    encryption, and data export.
  </h2>
</div>
