---
import { Image } from "astro:assets";
import heroLeft from "../../assets/image-hero-left.png";
import heroRight from "../../assets/image-hero-right.png";
import hero from "../../assets/image-hero.png";

import MeetHeroText from "./MeetHeroText.astro";
---

<section
  class="flex w-full flex-col items-center justify-center gap-y-12 overflow-clip pb-8 pt-12 lg:flex-row lg:gap-x-32 lg:pb-12"
>
  <Image src={hero} alt="" class="block scale-110 lg:hidden" />
  <Image src={heroLeft} alt="" class="hidden scale-110 lg:block" />
  <MeetHeroText />
  <Image src={heroRight} alt="" class="hidden scale-110 lg:block" />
</section>
