---
import BlueButton from "../buttons/BlueButton.svelte";
import PurpleButton from "../buttons/PurpleButton.svelte";
---

<div
  class="flex w-full flex-col items-center justify-center gap-6 p-8 pt-0 text-center xl:gap-8"
>
  <h1 class="text-preset-1 text-[2.5rem] lg:text-5xl xl:text-[4rem]">
    Group Chat for Everyone
  </h1>
  <h2 class="text-preset-4 text-slate-600 xl:text-[1.125rem]">
    Meet makes it easy to connect with others face-to-face virtually and
    collaborate across any device.
  </h2>
  <div
    class="flex min-w-fit flex-col items-center justify-center gap-4 sm:flex-row"
  >
    <BlueButton client:load />
    <PurpleButton client:load />
  </div>
</div>
