---
import BlueButton from "../buttons/BlueButton.svelte";
import PurpleButton from "../buttons/PurpleButton.svelte";
---

<div
  class="w-full flex flex-col p-8 pt-0 items-center justify-center gap-6 text-center xl:gap-8 col-span-4 row-start-2"
>
  <h1 class="text-preset-1 text-[2.5rem] lg:text-5xl xl:text-[4rem]">
    Group Chat for Everyone
  </h1>
  <h2 class="text-preset-4 text-slate-600 xl:text-[1.125rem]">
    Meet makes it easy to connect with others face-to-face virtually and
    collaborate across any device.
  </h2>
  <div class="flex flex-col sm:flex-row items-center justify-center gap-4">
    <BlueButton client:load />
    <PurpleButton client:load />
  </div>
</div>
